.main__principal {
  background-color: #FFFF;
  color: rgb(0, 0, 0);
  padding-top: 50px;
}

.main__principal--section {
  display: flex;
  flex-direction: column;
  margin: 0 20px 15px;
  text-align: center;
}

.main__principal--img {
  animation-name: movimiento;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  /*para que la velocidad de la animacion sea lineal*/
  animation-timing-function: linear;
  /*linear*/
}

.main__principal--img img {
  border-radius: 15px;
  padding-top: 30px;
  width: 95%;
}

hr {
  margin: 30px 80px 30px 80px;
}

.main__secundario {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 20px;
}

.main__secundario--titulo {
  text-align: center;
  padding-bottom: 35px;
}

.main__secundario--cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
}

.main__secundario--button {
  text-align: center;

}

.main__secundario--button a button {
  font-size: 25px;
  padding: 10px;
  background-color: #1D67B2;
  border-radius: 10%;
  color: #FFFF;
  box-shadow: 8px 8px 2px 1px rgba(30, 30, 32, 0.2);

}
.main__secundario--button a button:hover
{
  background-color: rgb(66, 65, 65);
}

.main__terciario__img{
  padding: 10px;
  background-color: #1D67B2;
  display: flex;
  justify-content: space-evenly;

}
.main__terciario__text
{
  @extend .main__terciario__img;
 color: #FFFF;
 /*agregar borde redondeado*/
}

/*for de 1 a 3 (con el 3 incluido, por eso es through, sino podria ser to) para darle estilos a las 3 imagenes del banner*/
@for $i from 1 through 3 {
  .main__terciario__img--#{$i}
  { width: 100px;
    height: 100px;}
}


@media screen and (min-width: 768px) {
  /* AQUI COMIENZA EL MAIN PRINCIPAL */
  .main__principal--contenido {
    font-size: 22px;
    margin-left: 15px;
  }
  .main__principal--img img {
    padding-top: 25px;
  }
  .main__secundario--titulo {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-self: center;
  }
  .main__secundario {
    display: grid;
    justify-items: center;
    grid-template-areas:
      "titulo titulo"
      "card1 card2"
      "card3 card4"
      "button button";
    padding: 0;
  }
  .main__secundario--titulo {
    grid-area: titulo;
  }
  .card1 {
    grid-area: card1;
  }
  .card2 {
    grid-area: card2;
  }
  .card3 {
    grid-area: card3;
  }
  .card4 {
    grid-area: card4;
  }
  .button {
    grid-area: button;
  }
  .main__secundario--cards {
    width: 75%;
    /* border: 4px solid black; */
    margin: 30px;
  }
  .main__secundario--button {
    padding: 50px;
  }
  .main__secundario--button a button {
    font-size: 30px;
  }

}

@media screen and (min-width: 1024px) {
  /* AQUI COMIENZA EL MAIN PRINCIPAL */
  .main__principal--section {
    flex-direction: row;
    justify-content: space-around;
  }
  .main__principal--contenido {
    text-align: center;
    justify-content: space-between;
    margin-left: 50px;
    font-size: 25px;
    width: 50%;
  }

  .main__secundario--titulo {
    grid-area: titulo;
    // width: 100vw;
  }

  .main__secundario--button {
    padding: 50px;
  }
  .main__secundario--button a button {
    font-size: 40px;
  }
 
  @keyframes movimiento {
    0%,
    100% {
      transform: translate(25px, 25px);
    }
    25% {
      transform: translate(25px, -25px);
    }
    50% {
      transform: translate(-25px, -25px);
    }
    75% {
      transform: translate(-25px, 25px);
    }
  }

  /*efecto con @keyframe sobre las cartas*/
  .main__secundario--cards:hover {
    animation-name: cartas;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: all 2s;
    border: 4px dashed #c1c5ca;
    border-radius: 10%;
  }
  .main__secundario--cards:hover.card1 {
    transform: translate(160px, 75px) scale(1.15);
    background-color: #e4eaf0;
  }
  .main__secundario--cards:hover.card2 {
    transform: translate(-160px, 75px) scale(1.15);
    background-color: #e4eaf0;
  }
  .main__secundario--cards:hover.card3 {
    transform: translate(160px, -75px) scale(1.15);
    background-color: #e4eaf0;
  }
  .main__secundario--cards:hover.card4 {
    transform: translate(-160px, -75px) scale(1.15);
    background-color: #e4eaf0;
  }
.main__terciario__img
{

border-top-left-radius: 15px;
border-top-right-radius: 15px;
}
.main__terciario
{
  width: 90%;
  margin: auto;
 
}
}
