/* MAIN NOSOTROS */
.main__nosotros {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
}

.main__nosotros--parrafo {
  padding: 15px;
}
.main__nosotros--img {
  display: grid;
  align-self: center;
}
.main__nosotros--img img {
  border-radius: 15px;
  width: 60vw;
}


@media screen and (min-width: 768px) {
  /* MAIN NOSOTROS */
  .main__nosotros--img img {
    width: 50vw;
  }
}


@media screen and (min-width: 1024px) {

  /* MAIN NOSOTROS */
  .main__nosotros--img img {
    width: 40vw;
  }

}