
/* AQUI COMIENZA EL MAIN DE SERVICIOS */
.main__servicios--img img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .main__nosotros--parrafo {
    padding: 15px;
  }
  .main__nosotros--img {
    display: grid;
    align-self: center;
  }
  .main__nosotros--img img {
    border-radius: 15px;
    width: 60vw;
  }