* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;

}
body {
  background-color: #e5e7e7;
}

p
{
  font-size: 18px;
  margin-bottom: 0;
}


.linea {
  border-bottom: solid 1px grey;
  width: 50%;
  margin: auto auto 40px auto;
}
.azul
{
  color: #1D67B2;
}