* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}
body
{
    // background-color: #B0CEEE;
    // background-color: #e5e7e7;
    
    background: rgb(255,255,255);
    background: linear-gradient(252deg, rgba(255,255,255,1) 0%, rgba(78,136,201,1) 35%, rgba(83,86,87,1) 100%); 
}